@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(240, 255, 255, 0.616);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0);
}

body {
  padding: 5% 10%;
  font-family: Verdana, sans-serif;
}

pre {
  font-size: large;
  padding: 10px;
  width: auto;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(255, 255, 255);
  /*Word warp properties*/
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

pre.light-mode {
  font-size: large;
  padding: 10px;
  width: auto;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  /*Word warp properties*/
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

#footer {
  background-color: hsla(0, 0%, 0%, 0.301);
  position: absolute;
  width: 100vw;
  margin-top: 70px;
  margin-left: -10%;
  padding-left: 10%;
  padding-top: 50px;
  padding-bottom: 70px;
  z-index: -100;
}

.light-mode {
  background-color: hsl(55, 100%, 97%);
  color: black;
}

.light-mode .component-container {
  border-radius: 30px;
  background-color: hsl(0, 0%, 100%);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 30px;
}

nav.light-mode {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), color-stop(#ffffff), to(#cfcfcf));
  background-image: linear-gradient(#cfcfcf, #ffffff, #cfcfcf);
  color: black;
  border: 1px solid rgb(105, 105, 105);
}

nav.light-mode .fa-bars {
  color: rgb(105, 105, 105) !important;
}

.dark-mode {
  background-color: rgb(29, 35, 58);
  color: white;
}

.dark-mode .component-container {
  border-radius: 30px;
  background-color: rgb(65, 73, 104);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 30px;
}

nav.dark-mode {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(52, 60, 94)), color-stop(rgb(89, 99, 148)), to(rgb(52, 60, 94)));
  background-image: linear-gradient(rgb(52, 60, 94), rgb(89, 99, 148), rgb(52, 60, 94));
  color: white;
  border: 1px solid rgb(230, 230, 230);
}

nav.dark-mode .fa-bars {
  color: rgb(230, 230, 230) !important;
}

ul.Nav {
  display: inline;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: auto;
  padding: 0px, 10%;
  list-style-type: none;
  height: 45px;
  width: 90%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(52, 60, 94)), color-stop(rgb(89, 99, 148)), to(rgb(52, 60, 94)));
  background-image: linear-gradient(rgb(52, 60, 94), rgb(89, 99, 148), rgb(52, 60, 94));
  -webkit-box-shadow: 0px 5px #363636;
          box-shadow: 0px 5px #363636;
  border-radius: 20px;
}

ul.Nav #Heading {
  float: left;
  height: auto;
  width: auto;
  padding: 0;
}

ul.Nav li a {
  display: block;
  text-align: center;
  padding: 14px 10px;
  color: rgb(255, 255, 255);
  font-family: Verdana, sans-serif;
}

ul.Nav li a:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(52, 60, 94)), color-stop(rgb(89, 99, 148)), to(rgb(52, 60, 94)));
  background-image: linear-gradient(rgb(52, 60, 94), rgb(89, 99, 148), rgb(52, 60, 94));
}

#HiddenNavHTML, #HiddenNavCSS, #HiddenNavJava, #HiddenNavMics {
  padding: 0;
  z-index: 100;
  list-style-type: none;
  list-style-position: inside;
  -webkit-transition: visibility 0.1s;
  transition: visibility 0.1s;
  visibility: hidden;
}

#HiddenNavButton {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(52, 60, 94)), color-stop(rgb(89, 99, 148)), to(rgb(52, 60, 94)));
  background-image: linear-gradient(rgb(52, 60, 94), rgb(89, 99, 148), rgb(52, 60, 94));
  z-index: 100;
}

#WebName {
  font-family: andalé Mono, monospace;
  font-size: 400%;
  margin: auto;
  padding-bottom: 5%;
  text-align: center;
}

#headlines {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
}

#title {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

#text {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
}

#code-comment {
  color: greenyellow;
}

#form {
  display: block;
  position: absolute;
  z-index: -100;
}

#NavBar {
  z-index: 100;
}

/* ============ desktop view NavBar ============ */
.navbar#nav-desktop .nav-item .dropdown-menu {
  display: block;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 0;
}

.navbar#nav-desktop .dropdown-menu.fade-down {
  top: 80%;
  -webkit-transform: rotateX(-75deg);
          transform: rotateX(-75deg);
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.navbar#nav-desktop .nav-item:hover .dropdown-menu {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
  visibility: visible;
  top: 100%;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

.navbar#nav-desktop .nav-item:hover .dropdown-menu a.dropdown-item:hover {
  background-color: hsla(0, 0%, 0%, 0.2);
}

.navbar#nav-desktop .nav-item:hover .dropdown-menu a.dropdown-item.text-light:hover {
  background-color: hsla(0, 0%, 100%, 0.2);
}

/* ============ desktop view .end// ============ */
/* ============ mobile view NavBar ============ */
/*changing the orientation of the arrow of the accordion before collapse*/
.accordion-button::after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

/*changing the orientation of the arrow of the accordion after collapse*/
.accordion-button:not(.collapsed)::after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.offcanvas {
  width: 300px !important;
}

@media screen and (max-width: 768px) {
  .content {
    margin-top: 50px;
  }
}
/* ============ mobile view .end// ============ */
/*# sourceMappingURL=styles.css.map */