$myGraident-dark: linear-gradient(rgb(52, 60, 94), rgb(89, 99, 148), rgb(52, 60, 94));
$myGraident-hover-dark: linear-gradient(rgb(89, 99, 148), rgb(159, 173, 233), rgb(89, 99, 148));
$myBG-dark: rgb(29, 35, 58);
$myBG-dark-outline: rgb(105, 105, 105);
$myContainer-dark: rgb(65, 73, 104);


$myGraident-light: linear-gradient(#cfcfcf, #ffffff, #cfcfcf);
$myGraident-hover-light: linear-gradient(rgb(255, 255, 255), rgb(255, 237, 187), rgb(255, 255, 255));
$myBG-light: hsl(55, 100%, 97%);
$myContainer-light: hsl(0, 0%, 100%);
$myBG-light-outline: rgb(230, 230, 230);

*{
  margin: 0;
  padding: 0;
  user-select: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(240, 255, 255, 0.616); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0);  
}

body {
    padding: 5% 10%;
    font-family: Verdana, sans-serif;
}

pre {
  font-size: large;
  padding: 10px;
  width: auto;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(255, 255, 255);
  /*Word warp properties*/
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

pre.light-mode{
  font-size: large;
  padding: 10px;
  width: auto;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  /*Word warp properties*/
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.description {
  font-size: 17px;
  background-color: hsla(0, 0%, 0%, 0.3);
  border-radius: 5px 5px 20px 20px;
  margin-bottom: 3%;
  padding: 20px;
}
.description > .list{
  margin: 0;
  max-height: 200px;
  overflow: auto;
}

.content {
  font-family: 'Titillium Web', sans-serif;
}

#footer {
  background-color: hsla(0, 0%, 0%, 0.301);
  position: absolute;
  width: 100vw;
  margin-top: 70px;
  margin-left: -10%;
  padding-left: 10%;
  padding-top: 50px;
  padding-bottom: 70px;
  z-index: -100;
}

.light-mode {
  background-color: $myBG-light;
  color: black;
}

.light-mode .component-container {
  border-radius: 30px;
  background-color: $myContainer-light;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 30px;
}

nav.light-mode {
  background-image: $myGraident-light;
  color: black;
  border: 1px solid $myBG-dark-outline;
}

nav.light-mode .fa-bars {
  color: $myBG-dark-outline !important;
}

.dark-mode {
  background-color: rgb(29, 35, 58);
  color: white;
}

.dark-mode .component-container {
  border-radius: 30px;
  background-color: $myContainer-dark;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 30px;
}

.light-mode .dropzone {
  border: 2px dashed #ccc;
  border-radius: 10px;
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 2rem;
  background: repeating-linear-gradient(
    -45deg,
    $myContainer-light,
    $myContainer-light 10px,
    $myBG-light 10px,
    $myBG-light 25px
  );
  text-align: center;
  cursor: pointer;
}

.dark-mode .dropzone {
  border: 2px dashed #ccc;
  border-radius: 10px;
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 2rem;
  background: repeating-linear-gradient(
    -45deg,
    $myContainer-dark,
    $myContainer-dark 10px,
    $myBG-dark 10px,
    $myBG-dark 25px
  );
  text-align: center;
  cursor: pointer;
}

nav.dark-mode {
  background-image: $myGraident-dark;
  color: white;
  border: 1px solid $myBG-light-outline;
}

nav.dark-mode .fa-bars {
  color: $myBG-light-outline !important;
}

ul.Nav {
  display: inline;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  padding: 0px, 10%;
  list-style-type: none;
  height: 45px;
  width: 90%;
  background-image: $myGraident-dark;
  box-shadow: 0px 5px  #363636;
  border-radius: 20px;
}

ul.Nav #Heading {
  float: left;
  height: auto;
  width: auto;
  padding: 0;
}

ul.Nav li a {
  display: block;
  text-align: center;
  padding: 14px 10px;
  color: rgb(255, 255, 255);
  font-family: Verdana, sans-serif;
}

ul.Nav li a:hover {
  background-image: $myGraident-dark;
}

#HiddenNavHTML, #HiddenNavCSS, #HiddenNavJava, #HiddenNavMics {
  padding: 0;
  z-index: 100;
  list-style-type: none;
  list-style-position: inside;
  transition: visibility 0.1s;
  visibility: hidden;
}

#HiddenNavButton {
  background-image: $myGraident-dark;
  z-index: 100;
}

#WebName {
  font-family: andalé Mono,monospace;
  font-size: 400%;
  margin: auto;
  padding-bottom: 5%;
  text-align: center;
}

#headlines {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
}

#title {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

#text {
  margin: 0px;
  padding: 0px;  
  font-size: 14px;
}

#code-comment {
  color: greenyellow;
}

#form {
  display: block;
  position: absolute;
  z-index: -100;
}

#NavBar {
  z-index: 100;
}

/* ============ desktop view NavBar ============ */

.navbar#nav-desktop .nav-item .dropdown-menu {
    display:block;
    opacity: 0; 
    visibility: hidden;
    transition:.3s;
    margin-top:0;  
}

.navbar#nav-desktop .dropdown-menu.fade-down { 
  top:80%;
  transform: rotateX(-75deg);
  transform-origin: 0% 0%;
}

.navbar#nav-desktop .nav-item:hover .dropdown-menu {
  transition: .3s;
  opacity:1;
  visibility:visible;
  top:100%;
  transform: rotateX(0deg); 
}

.navbar#nav-desktop .nav-item:hover .dropdown-menu a.dropdown-item:hover {
  background-color: hsla(0, 0%, 0%, 0.2);
}

.navbar#nav-desktop .nav-item:hover .dropdown-menu a.dropdown-item.text-light:hover {
  background-color: hsla(0, 0%, 100%, 0.2);
}

/* ============ desktop view .end// ============ */

/* ============ mobile view NavBar ============ */
/*changing the orientation of the arrow of the accordion before collapse*/
.accordion-button::after {
  transform: rotate(-90deg);
}

/*changing the orientation of the arrow of the accordion after collapse*/
.accordion-button:not(.collapsed)::after {
  transform: rotate(0deg);
}

.offcanvas {
  width: 300px !important;
}

@media screen and (max-width: 768px) {
  .content {
    margin-top: 50px;
  }
}
/* ============ mobile view .end// ============ */